<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal de Notícias</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Menu Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Portal ISN</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <!-- Home -->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <!-- Notícias -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownNotícias"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Notícias
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownNotícias"
              >
                <li>
                  <a class="dropdown-item" href="politica.html">Política</a>
                </li>
                <li>
                  <a class="dropdown-item" href="economia.html">Economia</a>
                </li>
                <li>
                  <a class="dropdown-item" href="internacional.html"
                    >Internacional</a
                  >
                </li>
                <li><a class="dropdown-item" href="saude.html">Saúde</a></li>
              </ul>
            </li>

            <!-- Esportes -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownEsportes"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Esportes
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownEsportes"
              >
                <li>
                  <a class="dropdown-item" href="futebol.html">Futebol</a>
                </li>
                <li>
                  <a class="dropdown-item" href="basquete.html">Basquete</a>
                </li>
                <li><a class="dropdown-item" href="tenis.html">Tênis</a></li>
                <li>
                  <a class="dropdown-item" href="olimpiadas.html">Olimpíadas</a>
                </li>
              </ul>
            </li>

            <!-- Cultura -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownCultura"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Cultura
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownCultura">
                <li><a class="dropdown-item" href="cinema.html">Cinema</a></li>
                <li>
                  <a class="dropdown-item" href="literatura.html">Literatura</a>
                </li>
                <li><a class="dropdown-item" href="musica.html">Música</a></li>
                <li><a class="dropdown-item" href="teatro.html">Teatro</a></li>
              </ul>
            </li>

            <!-- Tecnologia -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownTecnologia"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Tecnologia
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownTecnologia"
              >
                <li>
                  <a class="dropdown-item" href="gadgets.html">Gadgets</a>
                </li>
                <li>
                  <a class="dropdown-item" href="inovacao.html">Inovação</a>
                </li>
                <li><a class="dropdown-item" href="jogos.html">Jogos</a></li>
                <li>
                  <a class="dropdown-item" href="software.html">Software</a>
                </li>
              </ul>
            </li>

            <!-- Entretenimento -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownEntretenimento"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Entretenimento
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownEntretenimento"
              >
                <li>
                  <a class="dropdown-item" href="bbb.html">BBB</a>
                </li>
                <li>
                  <a class="dropdown-item" href="celebridades.html"
                    >Celebridades</a
                  >
                </li>
                <li><a class="dropdown-item" href="tv.html">TV</a></li>
                <li><a class="dropdown-item" href="series.html">Séries</a></li>
                <li><a class="dropdown-item" href="filmes.html">Filmes</a></li>
              </ul>
            </li>

            <!-- Contato -->
            <li class="nav-item">
              <a class="nav-link" href="contato.html">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Conteúdo principal da página -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
